<!DOCTYPE html>
<html>
  <head>
    <title>Anime List</title>
  </head>
  <body>
    <h1>Anime List</h1>
    <ul>
      <% animeList.forEach(function(anime) { %>
      <li>
        <%= anime.title %> - <%= anime.genre.join(', ') %>
        <a href="/anime/<%= anime._id %>/edit">Edit</a>
        <form
          action="/anime/<%= anime._id %>"
          method="POST"
          style="display: inline"

          <button>type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
    <form action="/anime" method="POST">
      <label>Title: <input type="text" name="title" required /></label><br />
      <label>Genre: <input type="text" name="genre" required /></label><br />
      <label>Description: <textarea name="description"></textarea></label><br />
      <label>Rating: <input type="number" name="rating" /></label><br />
      <button type="submit">Add Anime</button>
    </form> 
     <div id="message" style="display: none; position: fixed; bottom: 10px; right: 10px; background-color: #f44336; color: white; padding: 15px; border-radius: 5px;"></div>

    <script src="/js/frontend.js"></script>
  </body>

</html>
