<form action="/anime/<%= anime._id %>/comment/<%= comment._id %>" method="post">
    <textarea name="commentText"><%= comment.text %></textarea>
    <button type="submit">Update Comment</button>
  </form>