<!DOCTYPE html>
<html>
<head>
    <title>Anime List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="/users/profile">Profile</a></li>
          </ul>
      </nav>
  </header>
  <h1>Welcome to Anime List!</h1>
  <p>Keep track of your favorite anime and share your thoughts with others.</p>
</body>
</html>
