<!DOCTYPE html>
<html>
<head>
    <title>Anime List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Welcome to Anime List</h1>
    
    <a href="/users/profile" class="btn">Go to Profile</a>
  </body>
</html>
