<!DOCTYPE html>
<html>
  <body>
    <% if (typeof message !== 'undefined' && message) { %>
    <div class="alert"><%= message %></div>
    <% } %> <% animeList.forEach(anime => { %>
    <div>
      <h3><%= anime.title %></h3>
      <p><%= anime.description %></p>
      <form action="/anime/add-to-my-list/<%= anime._id %>" method="post">
        <button type="submit">Add to my list</button>
      </form>
    </div>
    <% }); %>

    <div class="links">
      <a href="/">Home</a>

      <a href="/users/search">Show All Anime</a>

      <a href="/users/profile">User Profile</a>
    </div>

    <script src="/js/frontend.js"></script>
  </body>
</html>
